/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: rgba(18, 18, 20, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #29292e;
}

.Nav-logo {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--primary-color);
}

.Navbar li {
  text-decoration: none;
  position: relative;
}

.Navbar li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.Navbar li:hover::after {
  width: 100%;
}


.Navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.Navbar a {
  color: var(--text-support);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.Navbar Link {
  text-decoration: none;
}
.Navbar a:hover {
  color: var(--text-main);
}

/* Conteúdo Principal */
.Main-content {
  margin-top: 80px; /* Evita que a navbar fixa cubra o conteúdo */
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Seção Hero (Apresentação) */
.Hero {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1100px;
  width: 100%;
}

.Hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: right top;
  border: 4px solid var(--primary-color);
  box-shadow: 0px 8px 24px rgba(4, 211, 97, 0.2);
}

.Hero-text {
  flex: 1.5;
}

.Hero-text h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.Hero-text h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.Hero-text p {
  color: var(--text-support);
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* Botões */
.Hero-buttons {
  display: flex;
  gap: 1rem;
}

.Btn-primary, .Btn-secondary {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
}

.Btn-primary {
  background-color: var(--primary-color);
  color: #0a0a0c;
}

.Btn-primary:hover {
  transform: translateY(-2px);
  background-color: #03bb54;
}

.Btn-secondary {
  border: 1px solid var(--text-support);
  color: var(--text-main);
}

.Btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-2px);
}

/* Responsividade (Telas menores/Celular) */
@media (max-width: 768px) {
  .Hero {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  
  .Navbar ul {
    display: none; /* Simplificação para mobile, pode ser expandido depois */
  }

  .Profile-pic {
    width: 200px;
    height: 200px;
  }

  .Hero-text h1 {
    font-size: 2rem;
  }

  .Hero-buttons {
    justify-content: center;
  }
}